header {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    height: 20vh;
    width: 100%;
    text-align: center;
    
}
.header{
    padding: 50px;
    color: #333e33;
}
nav {
    background-color: tomato;
    padding: 20px; 
}
a {
    color: rgb(255, 246, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
}
a:hover {
 color: violet;
}
.head {
    background-color: violet;
    padding: 10px;
    text-align: center;
}